body{
  /* background: url(images/fondo.jpg) no-repeat center center fixed;*/ 
  background-color: #FFFFFF;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  

}
.decoratorLine{
    border-top: 5px dotted #CD5360;
    width: 50%;
    margin: auto;
    
  
}

.MuiGrid-container {
  background-color:#FFFFFF;
}
