body{
  /* background: url(images/fondo.jpg) no-repeat center center fixed;*/ 
  background-color: rgb(165, 183, 235);
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  

}
.img-descarga{
  display: flex;
  flex-direction: row;
  width:"40%";
  margin-left: "760%";
}
.MuiIconButton-label{
  flex-direction: row-reverse;
}
.MuiIconButton-root{
  size: 30px;
}
